pbk-easu-fhd-lib/src/main/resources/xsd/Z_PBK_BAL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2018 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xs1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Z_PBK_BAL">
		<xs:complexType>
			<xs:all>
				<xs:element name="FEATD">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERNR">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8" />
							<xs:pattern value="\d*" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Z_PBK_BALResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="return" type="xs1:ZPBK_BALS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ZPBK_BALS">
		<xs:all>
			<xs:element name="BALANS" type="xs1:BALANS"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="BALANS">
		<xs:sequence>
			<xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs1:ZPBK_S_BAL"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZPBK_S_BAL">
		<xs:sequence>
			<xs:element name="PERNR" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
						<xs:pattern value="\d*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DATUM" minOccurs="0" type="xs1:date" />
			<xs:element name="STDAZ" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SOBEG" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SOEND" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="date">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
			<xs:pattern value="....-..-.." />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>