pbk-easu-fhd-lib/src/main/resources/xsd/Z_PBK_PNR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2018 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xs1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Z_PBK_PNR">
		<xs:complexType>
			<xs:all>
				<xs:element name="BEGDA" type="xs1:date" />
				<xs:element name="ENDDA" type="xs1:date" />
				<xs:element name="ORGEH">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8" />
							<xs:pattern value="\d*" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Z_PBK_PNRResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="return" type="xs1:ZPBK_PNRS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ZPBK_PNRS">
		<xs:all>
			<xs:element name="PERNRS" type="xs1:PERNRS"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="PERNRS">
		<xs:sequence>
			<xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs1:ZPBK_S_PERNR"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZPBK_S_PERNR">
		<xs:sequence>
			<xs:element name="PNMGT" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
						<xs:pattern value="\d*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PERNR" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
						<xs:pattern value="\d*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NACHN" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VORNA" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MIDNM" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ORGEH" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
						<xs:pattern value="\d*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PLTXT" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BEGDA" minOccurs="0" type="xs1:date" />
			<xs:element name="ENDDA" minOccurs="0" type="xs1:date" />
			<xs:element name="OBEGD" minOccurs="0" type="xs1:date" />
			<xs:element name="OENDD" minOccurs="0" type="xs1:date" />
			<xs:element name="AWART" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ATEXT" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="date">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
			<xs:pattern value="....-..-.." />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>