pbk-easu-fhd-lib/src/main/resources/xsd/Z_PBK_TS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2018 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xs1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ZPM_INTEGR_PBK_TC">
		<xs:complexType>
			<xs:all>
				<xs:element name="IV_DATE_H" type="xs1:date" />
				<xs:element name="IV_DATE_L" type="xs1:date" />
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ZPM_INTEGR_PBK_TCResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="return" type="xs1:ZPMINTEGR_PBKTCS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ZPMINTEGR_PBKTCS">
		<xs:all>
			<xs:element name="ET_INTEGR_PBK_TC" type="xs1:ET_INTEGR_PBK_TC"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ET_INTEGR_PBK_TC">
		<xs:sequence>
			<xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs1:ZPMS_INTEGR_PBK"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZPMS_INTEGR_PBK">
		<xs:sequence>
			<xs:element name="EQFNR" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VIDTC" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VMEST" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MAXOCCUP" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4" />
						<xs:pattern value="\d*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PARENT_CLASS" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CLASS" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DATABEGIN" minOccurs="0" type="xs1:date" />
			<xs:element name="DATAEND" minOccurs="0" type="xs1:date" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="date">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
			<xs:pattern value="....-..-.." />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>