pbk-easu-fhd-lib/src/main/resources/xsd/Z_PBK_DEP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2018 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xs1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="DEPARTS">
		<xs:sequence>
			<xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs1:ZPBK_S_DEPART"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZPBK_DEPS">
		<xs:all>
			<xs:element name="DEPARTS" type="xs1:DEPARTS"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ZPBK_S_DEPART">
		<xs:sequence>
			<xs:element name="OBJID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
						<xs:pattern value="\d*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SHORT" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="STEXT" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OHEAD" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
						<xs:pattern value="\d*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Z_PBK_DEP">
		<xs:complexType>
			<xs:all/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Z_PBK_DEPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="return" type="xs1:ZPBK_DEPS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
